/* || ResourceHub layout */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Scribble Box', monospace;
    font-size: 3rem;
    text-align: center;
    color: rgb(242, 125, 7);
}

h2 {
    font-family: 'Scribble Box', monospace;
    font-size: 1.6rem;
    text-align: center;
    color: #0e0c83;
}

.ResourceHub {
    width: 100%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    overflow: hidden;
    background:rgb(246, 228, 210);
    align-items: center;
    padding: 10px 1rem;
}


.MainAside {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex: 2;
}

.Resources {
    width: 70%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 10px 1rem;
}

.Stats {
    width: 30%;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    padding: 10px 1rem;
}